node_modules/
.next/
out/
tsconfig.tsbuildinfo
.env
.env*.local

# Database files
prisma/prisma/data/*.db
prisma/prisma/data/*.db-wal
prisma/prisma/data/*.db-shm
data/*.db
data/*.db-wal
data/*.db-shm
